nav.menu
{
        margin-bottom: 20px;
        padding-top: 15px;
        padding-bottom: 15px;
        background-color:#5ba561;
        display: table;
        width: 100%;
        -webkit-box-shadow: 0 10px 6px -6px #777;
        -moz-box-shadow: 0 10px 6px -6px #777;
        box-shadow: 0 10px 6px -6px rgb(20, 198, 124);
        }
        
        nav.menu ul
        {
        width: 100%;
        text-align: center;
        display: table-cell;
        vertical-align: middle;
        }
        
        nav.menu ul #last_item
        {
        border-right: 0px;
        }
        
        nav.menu ul li
        {
        width: 20%;
        border-right: 1px solid #707070;
        display: inline;
        vertical-align: baseline;
        }
        
        nav.menu ul li a
        {
        color: #000000;
        font-style: normal;
        font-family: Montserrat;
        text-decoration: none;
        vertical-align:baseline;
        text-align:center;
        margin-left: 2%;
        margin-right: 2%;
        font-size:1.1em;
        font-weight:600;
        }
        
        nav.menu ul li a:hover
        {
        color:#377aa1;
        }
        
        h1
        {
            font-size: 100px;
        }
        
        h2
        {
            font-size: 50px;
        }
        
        p
        {
            font-size: 20px;
            text-shadow: black 2px 3px 4px;
        }
        
        .main
        {
            position: center;
            text-align: center;
            font-family: cursive;
            color: white;
        }
        .videooo
        {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
        i
        {
            font-size: 20px;
        }
.header2
        {
        color: #000000;
        font-style: normal;
        font-family: Montserrat;
        text-decoration: none;
        vertical-align:baseline;
        text-align:center;
        margin-left: 2%;
        margin-right: 2%;
        font-size: xx-large;
        font-weight:700;
        }
        i
    {
    font-size: 20px;
    font-family: Montserrat;
    }   
    .copy_right_footer{
        font-size: 20px;
        color:navy;
        font-weight:bold;
        margin-top: 350px;
        text-align: center;
    }

    .bottom
    {
        font-size: 10px;
        float: right;
    }
    h2, h5
    {
    text-align: center;
    }
